{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            {{ form.name.data}} - Edit Institution
        {% endblock %}
    </h2>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.code.label(class="form-label") }}
            {{ form.code(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.fulfillment_code.label(class="form-label") }}
            {{ form.fulfillment_code(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.partner_code.label(class="form-label") }}
            {{ form.partner_code(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.key.label(class="form-label") }}
            {{ form.key(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.exceptions.label(class="form-label") }}
            {{ form.exceptions(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.ext_requests_in_transit.label(class="form-label") }}
            {{ form.ext_requests_in_transit(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.in_transit_data.label(class="form-label") }}
            {{ form.in_transit_data(class="form-control") }}
        </div>
        <div class="actions">
            <input type="submit" value="Update Institution"  class="btn btn-primary" />
            <a class="btn btn-secondary" href="{{ url_for('view_institution', code=form.code.data) }}">Cancel</a>
        </div>
    </form>

{% endblock %}
