{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            Institutions
        {% endblock %}
    </h2>
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-dark sticky-top">
        <tr>
            <th>Institutions</th>
            <th>Code</th>
            <th>Edit</th>
        </tr>
        </thead>
        {% set slots = [] %}
        <tbody>
            {% for institution in institutions %}
                {% if (institution.key != '') and (institution.exceptions != '') %}
                    <tr>
                        <td><a href="{{ url_for('view_institution', code=institution.code) }}">{{ institution.name }}</a></td>
                        <td>{{ institution.code }}</td>
                        <td><a href="{{ url_for('edit_institution', code=institution.code) }}">Edit</a></td>
                    </tr>
                {% else %}
                    {{ slots.append(institution)  or '' }}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered table-hover table-sm caption-top">
        <caption>Institutions without report data</caption>
        <thead class="table-dark sticky-top">
        <tr>
            <th>Institutions</th>
            <th>Code</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
            {% for slot in slots %}
                    <tr>
                        <td>{{ slot.name }}</td>
                        <td>{{ slot.code }}</td>
                        <td><a href="{{ url_for('edit_institution', code=slot.code) }}">Edit</a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
