{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            {{ institution.name }}
        {% endblock %}
    </h2>
    <details>
        <summary>Institution Details</summary>
        <table class="table table-bordered table-hover table-sm">
            <tr>
                <th class="table-dark">Code</th>
                <td>{{ institution.code }}</td>
            </tr>
            <tr>
                <th class="table-dark">Name</th>
                <td>{{ institution.name }}</td>
            </tr>
            <tr>
                <th class="table-dark">Fulfillment Code</th>
                <td>{{ institution.fulfillment_code }}</td>
            </tr>
            <tr>
                <th class="table-dark">Partner Code</th>
                <td>{{ institution.partner_code }}</td>
            </tr>
            <tr>
                <th class="table-dark">API Key</th>
                <td>{{ institution.key }}</td>
            </tr>
            <tr>
                <th class="table-dark">Exceptions Path</th>
                <td>{{ institution.exceptions }}</td>
            </tr>
            <tr>
                <th class="table-dark">External Requests in Transit Path</th>
                <td>{{ institution.ext_requests_in_transit }}</td>
            </tr>
            <tr>
                <th class="table-dark">In Transit Data Path</th>
                <td>{{ institution.in_transit_data }}</td>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{ url_for('edit_institution', code=institution.code) }}">Edit Institution</a>
    </details>
    <table>
        {% for exception in exceptions %}
            <tr>
                <td>{{ exception.title }} ({{ exception.transit_date }})</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
