{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            {{ institution.name }}
        {% endblock %}
    </h2>
    {% if 'admin' in session['authorizations'] %}
        <details class="mb-3">
            <summary>Institution Details</summary>
            <table class="table table-bordered table-hover table-sm">
                <tr>
                    <th class="table-dark">Code</th>
                    <td>{{ institution.code }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Name</th>
                    <td>{{ institution.name }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Fulfillment Code</th>
                    <td>{{ institution.fulfillment_code }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Partner Code</th>
                    <td>{{ institution.partner_code }}</td>
                </tr>
                <tr>
                    <th class="table-dark">API Key</th>
                    <td>{{ institution.key }}</td>
                </tr>
                <tr>
                    <th class="table-dark">Exceptions Path</th>
                    <td>{{ institution.exceptions }}</td>
                </tr>
                <tr>
                    <th class="table-dark">External Requests in Transit Path</th>
                    <td>{{ institution.ext_requests_in_transit }}</td>
                </tr>
                <tr>
                    <th class="table-dark">In Transit Data Path</th>
                    <td>{{ institution.in_transit_data }}</td>
                </tr>
            </table>
            <a class="btn btn-primary" href="{{ url_for('edit_institution', code=institution.code) }}">Edit Institution</a>
        </details>
    {% endif %}
    <div class="row mb-2">
        <div class="col">
            <span class="text-muted">Last Updated: {{ updated[0].last_update if updated }}</span>
        </div>
        <div class="col text-end">
            <a href="{{ url_for('report_download', code=institution.code) }}" class="btn btn-success">Download XLSX</a>
        </div>
    </div>

    {% if exceptions|length == 0 %}
        <p>No exceptions found.</p>
    {% endif %}
    {% for reqs in exceptions %}
        <details class="collapsible-report">
            <summary>
                {% set slots = [] %}
                {% for req in reqs if req.internalid not in slots %}
                    {{ slots.append(req.internalid) or "" }}
                {% endfor %}
                {% if reqs|length > 0 %}
                    {{ reqs[0].borreqstat }} ({{ slots|length }})
                {% endif %}
            </summary>
            <table class="table table-bordered table-hover table-sm report" id="{{ reqs[0].borreqstat|replace(' ', '') }}">
                <thead class="table-dark sticky-top">
                    <tr>
                        <th>Borrowing Request Status</th>
                        <th>Internal ID</th>
                        <th>Borrowing Request Date</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Network Number</th>
                        <th>Requestor</th>
                        <th>Partner Active Status</th>
                        <th>Request Sending Date</th>
                        <th>Days Since Request</th>
                        <th>Partner Name</th>
                        <th>Partner Code</th>
                        <th>Item In Transit?</th>
                        <th>In Transit Start</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in reqs %}
                        <tr>
                            <td>{{ request.borreqstat }}</td>
                            <td>{{ request.internalid }}</td>
                            <td>{{ request.borcreate }}</td>
                            <td>{{ request.title }}</td>
                            <td>{{ request.author }}</td>
                            {% if request.networknum %}
                                <td>{{ request.networknum }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{ request.requestor }}</td>
                            <td>{{ request.partnerstat }}</td>
                            {% if request.reqsend %}
                                <td>{{ request.reqsend }}</td>
                                <td>{{ request.days }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                            <td>{{ request.partnername }}</td>
                            <td>{{ request.partnercode }}</td>
                            {%  if request.request_id %}
                                <td>Y</td>
                            {% else %}
                                <td>N</td>
                            {% endif %}
                            {% if request.transit_date %}
                                <td>{{ request.transit_date }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}
        <script>
        window.onload = function() {
            const tables = document.getElementsByClassName("report");
            if (tables.length > 0) {
                for (let table of tables) {
                    mergeCells(table.id);
                }
            }
        };
    </script>

{% endblock %}
