{% extends 'base.html' %}

{% block content %}
    <form name="login-form" method="get" onsubmit="return submitLogin()">
        <div class="form-group">
            <label for="user-name" class="form-label">Login At</label>
            <select name="user-name" id="user-name" class="form-select form-select-lg mb-3">
                //- Note: values must match Aladin-SP/auth/authZsettings.php
                <option value="au">American University</option>
                <option value="cu">Catholic University</option>
                <option value="ga">Gallaudet University</option>
                <option value="gm">George Mason University</option>
                <option value="gt">Georgetown University</option>
                <option value="gt-law">Georgetown University Law</option>
                <option value="gw">George Washington University</option>
                <option value="gwalaw">GW Jacob Burns Law Library</option>
                <option value="hi">GW Himmelfarb Health Sciences Library</option>
                <option value="hu">Howard University</option>
                <option value="mu">Marymount University</option>
                <option value="dc">University of the District of Columbia</option>
                <!--<option value="dc-law">University of the District of Columbia, Law School</option>-->
                <option value="wr">WRLC SCF</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}
