{% extends 'base.html' %}

{% block content %}
    <h2>
        {% block page_title %}
            Edit Settings
        {% endblock %}
    </h2>
    <form method="post">
        {{ form.csrf_token }}
        <div class="mb-3">
            <strong>Days to receive Request Status Exceptions report by email:</strong>
        </div>
        <div class="mb-3">
            {% if 0 in days %}
                {{ form.sunday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.sunday(class="form-check-input") }}
            {% endif %}
            {{ form.sunday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 1 in days %}
                {{ form.monday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.monday(class="form-check-input") }}
            {% endif %}
            {{ form.monday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 2 in days %}
                {{ form.tuesday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.tuesday(class="form-check-input") }}
            {% endif %}
            {{ form.tuesday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 3 in days %}
                {{ form.wednesday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.wednesday(class="form-check-input") }}
            {% endif %}
            {{ form.wednesday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 4 in days %}
                {{ form.thursday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.thursday(class="form-check-input") }}
            {% endif %}
            {{ form.thursday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 5 in days %}
                {{ form.friday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.friday(class="form-check-input") }}
            {% endif %}
            {{ form.friday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 6 in days %}
                {{ form.saturday(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.saturday(class="form-check-input") }}
            {% endif %}
            {{ form.saturday.label(class="form-label") }}
        </div>
        <div class="mb-3">
            <ul>
                <li><small class="text-muted">Email will be sent at 6am on each selected day.</small></li>
                <li><small class="text-muted">Report will be attached to email in XLSX format.</small></li>
                <li><small class="text-muted">Email will be sent to {{ user.emailaddress }}.</small></li>
            </ul>
        </div>
        <div class="mb-3">
            <strong>Statuses to include in report:</strong>
        </div>
        <div class="mb-3">
            {% if 'AUTOMATIC_RENEW' in statuses %}
                {{ form.AUTOMATIC_RENEW(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.AUTOMATIC_RENEW(class="form-check-input") }}
            {% endif %}
            {{ form.AUTOMATIC_RENEW.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'AUTO_WILL_SUPPLY' in statuses %}
                {{ form.AUTO_WILL_SUPPLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.AUTO_WILL_SUPPLY(class="form-check-input") }}
            {% endif %}
            {{ form.AUTO_WILL_SUPPLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'BAD_CITATION' in statuses %}
                {{ form.BAD_CITATION(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.BAD_CITATION(class="form-check-input") }}
            {% endif %}
            {{ form.BAD_CITATION.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'CANCEL_NOT_ACCEPTED' in statuses %}
                {{ form.CANCEL_NOT_ACCEPTED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.CANCEL_NOT_ACCEPTED(class="form-check-input") }}
            {% endif %}
            {{ form.CANCEL_NOT_ACCEPTED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'CANCELLED' in statuses %}
                {{ form.CANCELLED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.CANCELLED(class="form-check-input") }}
            {% endif %}
            {{ form.CANCELLED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'CLAIMED' in statuses %}
                {{ form.CLAIMED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.CLAIMED(class="form-check-input") }}
            {% endif %}
            {{ form.CLAIMED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'CONDITIONAL' in statuses %}
                {{ form.CONDITIONAL(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.CONDITIONAL(class="form-check-input") }}
            {% endif %}
            {{ form.CONDITIONAL.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REQUEST_CREATED_BOR' in statuses %}
                {{ form.REQUEST_CREATED_BOR(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REQUEST_CREATED_BOR(class="form-check-input") }}
            {% endif %}
            {{ form.REQUEST_CREATED_BOR.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'DAMAGED_COMMUNICATED' in statuses %}
                {{ form.DAMAGED_COMMUNICATED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.DAMAGED_COMMUNICATED(class="form-check-input") }}
            {% endif %}
            {{ form.DAMAGED_COMMUNICATED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'DECLARED_LOST' in statuses %}
                {{ form.DECLARED_LOST(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.DECLARED_LOST(class="form-check-input") }}
            {% endif %}
            {{ form.DECLARED_LOST.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RECEIVED_DIGITALLY' in statuses %}
                {{ form.RECEIVED_DIGITALLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RECEIVED_DIGITALLY(class="form-check-input") }}
            {% endif %}
            {{ form.RECEIVED_DIGITALLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'EXPIRED' in statuses %}
                {{ form.EXPIRED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.EXPIRED(class="form-check-input") }}
            {% endif %}
            {{ form.EXPIRED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'EXTERNALLY_OBTAINED' in statuses %}
                {{ form.EXTERNALLY_OBTAINED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.EXTERNALLY_OBTAINED(class="form-check-input") }}
            {% endif %}
            {{ form.EXTERNALLY_OBTAINED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LENDER_CHECK_IN' in statuses %}
                {{ form.LENDER_CHECK_IN(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LENDER_CHECK_IN(class="form-check-input") }}
            {% endif %}
            {{ form.LENDER_CHECK_IN.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LOCAL_HOLDING' in statuses %}
                {{ form.LOCAL_HOLDING(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LOCAL_HOLDING(class="form-check-input") }}
            {% endif %}
            {{ form.LOCAL_HOLDING.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LOCATE_FAILED' in statuses %}
                {{ form.LOCATE_FAILED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LOCATE_FAILED(class="form-check-input") }}
            {% endif %}
            {{ form.LOCATE_FAILED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LOCATE_IN_PROCESS' in statuses %}
                {{ form.LOCATE_IN_PROCESS(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LOCATE_IN_PROCESS(class="form-check-input") }}
            {% endif %}
            {{ form.LOCATE_IN_PROCESS.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LOST_AND_FEE_PAID' in statuses %}
                {{ form.LOST_AND_FEE_PAID(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LOST_AND_FEE_PAID(class="form-check-input") }}
            {% endif %}
            {{ form.LOST_AND_FEE_PAID.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'LOST_COMMUNICATED' in statuses %}
                {{ form.LOST_COMMUNICATED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.LOST_COMMUNICATED(class="form-check-input") }}
            {% endif %}
            {{ form.LOST_COMMUNICATED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'MANUAL_RENEW' in statuses %}
                {{ form.MANUAL_RENEW(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.MANUAL_RENEW(class="form-check-input") }}
            {% endif %}
            {{ form.MANUAL_RENEW.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'MEDIATED_RENEWAL' in statuses %}
                {{ form.MEDIATED_RENEWAL(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.MEDIATED_RENEWAL(class="form-check-input") }}
            {% endif %}
            {{ form.MEDIATED_RENEWAL.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'OVERDUE_ITEM' in statuses %}
                {{ form.OVERDUE_ITEM(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.OVERDUE_ITEM(class="form-check-input") }}
            {% endif %}
            {{ form.OVERDUE_ITEM.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'PENDING_APPROVAL' in statuses %}
                {{ form.PENDING_APPROVAL(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.PENDING_APPROVAL(class="form-check-input") }}
            {% endif %}
            {{ form.PENDING_APPROVAL.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REACTIVATED' in statuses %}
                {{ form.REACTIVATED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REACTIVATED(class="form-check-input") }}
            {% endif %}
            {{ form.REACTIVATED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'READY_TO_SEND' in statuses %}
                {{ form.READY_TO_SEND(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.READY_TO_SEND(class="form-check-input") }}
            {% endif %}
            {{ form.READY_TO_SEND.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RECALLED_BOR' in statuses %}
                {{ form.RECALLED_BOR(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RECALLED_BOR(class="form-check-input") }}
            {% endif %}
            {{ form.RECALLED_BOR.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REJECT' in statuses %}
                {{ form.REJECT(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REJECT(class="form-check-input") }}
            {% endif %}
            {{ form.REJECT.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RENEW_NOT_ACCEPTED' in statuses %}
                {{ form.RENEW_NOT_ACCEPTED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RENEW_NOT_ACCEPTED(class="form-check-input") }}
            {% endif %}
            {{ form.RENEW_NOT_ACCEPTED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RENEW_REQUESTED' in statuses %}
                {{ form.RENEW_REQUESTED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RENEW_REQUESTED(class="form-check-input") }}
            {% endif %}
            {{ form.RENEW_REQUESTED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RENEWED' in statuses %}
                {{ form.RENEWED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RENEWED(class="form-check-input") }}
            {% endif %}
            {{ form.RENEWED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'DAMAGED' in statuses %}
                {{ form.DAMAGED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.DAMAGED(class="form-check-input") }}
            {% endif %}
            {{ form.DAMAGED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REPORT_LOST' in statuses %}
                {{ form.REPORT_LOST(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REPORT_LOST(class="form-check-input") }}
            {% endif %}
            {{ form.REPORT_LOST.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REQUEST_ACCEPTED' in statuses %}
                {{ form.REQUEST_ACCEPTED(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REQUEST_ACCEPTED(class="form-check-input") }}
            {% endif %}
            {{ form.REQUEST_ACCEPTED.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'REQUEST_SENT' in statuses %}
                {{ form.REQUEST_SENT(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.REQUEST_SENT(class="form-check-input") }}
            {% endif %}
            {{ form.REQUEST_SENT.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RETURNED_TO_PARTNER' in statuses %}
                {{ form.RETURNED_TO_PARTNER(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RETURNED_TO_PARTNER(class="form-check-input") }}
            {% endif %}
            {{ form.RETURNED_TO_PARTNER.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'SHIPPED_DIGITALLY' in statuses %}
                {{ form.SHIPPED_DIGITALLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.SHIPPED_DIGITALLY(class="form-check-input") }}
            {% endif %}
            {{ form.SHIPPED_DIGITALLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'SHIPPED_PHYSICALLY' in statuses %}
                {{ form.SHIPPED_PHYSICALLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.SHIPPED_PHYSICALLY(class="form-check-input") }}
            {% endif %}
            {{ form.SHIPPED_PHYSICALLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'CANCEL_REPLY' in statuses %}
                {{ form.CANCEL_REPLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.CANCEL_REPLY(class="form-check-input") }}
            {% endif %}
            {{ form.CANCEL_REPLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'RECEIVE_DIGITALLY_REPLY' in statuses %}
                {{ form.RECEIVE_DIGITALLY_REPLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.RECEIVE_DIGITALLY_REPLY(class="form-check-input") }}
            {% endif %}
            {{ form.RECEIVE_DIGITALLY_REPLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            {% if 'WILL_SUPPLY' in statuses %}
                {{ form.WILL_SUPPLY(class="form-check-input", checked="checked") }}
            {% else %}
                {{ form.WILL_SUPPLY(class="form-check-input") }}
            {% endif %}
            {{ form.WILL_SUPPLY.label(class="form-label") }}
        </div>
        <div class="mb-3">
            <ul>
                <li><small class="text-muted">If no statuses selected, all statuses will be shown.</small></li>
                <li><small class="text-muted">Selected statuses will appear in both web and downloaded Excel reports.</small></li>
                <li><small class="text-muted">All statuses will still be included in emailed Excel reports</small></li>
            </ul>
        </div>
        <div class="actions mb-5">
            <input type="submit" value="Update Settings"  class="btn btn-primary" />
        </div>
    </form>
{% endblock %}